[submodule "addons/web"]
	path = addons/web
	url = https://github.com/OCA/web.git
	branch = 12.0
[submodule "addons/website"]
	path = addons/website
	url = https://github.com/OCA/website.git
	branch = 12.0
[submodule "addons/project"]
	path = addons/project
	url = https://github.com/OCA/project.git
	branch = 12.0
[submodule "addons/hr"]
	path = addons/hr
	url = https://github.com/OCA/hr.git
	branch = 12.0
[submodule "addons/muk_base"]
	path = addons/muk_base
	url = https://github.com/muk-it/muk_base.git
	branch = 12.0
[submodule "addons/muk_web"]
	path = addons/muk_web
	url = https://github.com/muk-it/muk_web.git
	branch = 12.0
[submodule "addons/server-ux"]
	path = addons/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 12.0
[submodule "addons/server-tools"]
	path = addons/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 12.0
[submodule "addons/account-invoicing"]
	path = addons/account-invoicing
	url = https://github.com/OCA/account-invoicing.git
	branch = 12.0
[submodule "addons/queue"]
	path = addons/queue
	url = https://github.com/OCA/queue.git
	branch = 12.0
[submodule "addons/rest-framework"]
	path = addons/rest-framework
	url = https://github.com/OCA/rest-framework.git
	branch = 12.0
[submodule "addons/connector"]
	path = addons/connector
	url = https://github.com/OCA/connector.git
	branch = 12.0
[submodule "addons/purchase-workflow"]
	path = addons/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 12.0
[submodule "addons/partner-contact"]
	path = addons/partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 12.0
[submodule "addons/l10n-italy"]
	path = addons/l10n-italy
	url = https://github.com/OCA/l10n-italy.git
	branch = 12.0
[submodule "addons/muk_misc"]
	path = addons/muk_misc
	url = https://github.com/muk-it/muk_misc.git
	branch = 12.0
[submodule "addons/account-financial-tools"]
	path = addons/account-financial-tools
	url = https://github.com/OCA/account-financial-tools
	branch = 12.0
[submodule "addons/account-financial-reporting"]
	path = addons/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting
	branch = 12.0
[submodule "addons/mis-builder"]
	path = addons/mis-builder
	url = https://github.com/OCA/mis-builder
	branch = 12.0
[submodule "addons/reporting-engine"]
	path = addons/reporting-engine
	url = https://github.com/OCA/reporting-engine
	branch = 12.0
[submodule "addons/stock-logistics-workflow"]
	path = addons/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow
	branch = 12.0
[submodule "addons/product-attribute"]
	path = addons/product-attribute
	url = https://github.com/OCA/product-attribute
	branch = 12.0
[submodule "addons/intrastat-extrastat"]
	path = addons/intrastat-extrastat
	url = https://github.com/OCA/intrastat-extrastat
	branch = 12.0
[submodule "addons/server-env"]
	path = addons/server-env
	url = https://github.com/OCA/server-env
	branch = 12.0
[submodule "addons/account-payment"]
	path = addons/account-payment
	url = https://github.com/OCA/account-payment
	branch = 12.0
[submodule "addons/account-analytic"]
	path = addons/account-analytic
	url = https://github.com/OCA/account-analytic
	branch = 12.0
[submodule "addons/stock-logistics-warehouse"]
	path = addons/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse
	branch = 12.0
[submodule "addons/stock-logistics-barcode"]
	path = addons/stock-logistics-barcode
	url = https://github.com/OCA/stock-logistics-barcode
	branch = 12.0
[submodule "addons/pos"]
	path = addons/pos
	url = https://github.com/OCA/pos
	branch = 12.0
