[options]
addons_path = {{ env['ODOO_ADDONS_PATH'] or cfg['addons_path'] | join(',')}}
admin_passwd = {{ env['ODOO_ADMIN_PASSWD'] or cfg['admin_passwd'] | default('admin2', true)}}
csv_internal_sep = {{ env['ODOO_CSV_INTERNAL_SEP'] or cfg['csv_internal_sep'] | default(',', true) }}
data_dir = {{ env['ODOO_DATA_DIR'] or cfg['data_dir'] | default('/var/lib/odoo', true) }}
db_host = {{ env['ODOO_DB_HOST'] or cfg['db_host'] | default('postgres', true) }}
db_maxconn = {{ env['ODOO_DB_MAXCONN'] or cfg['db_maxconn'] | default('64', true) }}
db_name = {{ env['ODOO_DB_NAME'] or cfg['db_name'] | default('', true) }}
db_password = {{ env['ODOO_DB_PASSWORD'] or cfg['db_password'] | default('odoo', true) }}
db_port = {{ env['ODOO_DB_PORT'] or cfg['db_port'] | default('False', true) }}
db_template = {{ env['ODOO_DB_TEMPLATE'] or cfg['db_template'] | default('template1', true) }}
db_user = {{ env['ODOO_DB_USER'] or cfg['db_user'] | default('odoo', true) }}
dbfilter = {{ env['ODOO_DBFILTER'] or cfg['dbfilter'] | default('.*', true) }}
debug_mode = {{ env['ODOO_DEBUG_MODE'] or cfg['debug_mode'] | default('True', true) }}
demo = {{ env['ODOO_DEMO'] or cfg['demo'] | default('{}', true) }}
dev_mode = {{ env['ODOO_DEV_MODE'] or cfg['dev_mode'] | default('False', true) }}
email_from = {{ env['ODOO_EMAIL_FROM'] or cfg['email_from'] | default('False', true) }}
geoip_database = {{ env['ODOO_GEOIP_DATABASE'] or cfg['geoip_database'] | default('/usr/share/GeoIP/GeoLiteCity.dat', true) }}
import_partial =
limit_memory_hard = {{ env['ODOO_LIMIT_MEMORY_HARD'] or cfg['limit_memory_hard'] | default('805306368', true) }}
limit_memory_soft = {{ env['ODOO_LIMIT_MEMORY_SOFT'] or cfg['limit_memory_soft'] | default('671088640', true) }}
limit_request = {{ env['ODOO_LIMIT_REQUEST'] or cfg['limit_request'] | default('8192', true) }}
limit_time_cpu = {{ env['ODOO_LIMIT_TIME_CPU'] or cfg['limit_time_cpu'] | default('60', true) }}
limit_time_real = {{ env['ODOO_LIMIT_TIME_REAL'] or cfg['limit_time_real'] | default('120', true) }}
list_db = {{ env['ODOO_LIST_DB'] or cfg['list_db'] | default('True', true) }}
log_db = {{ env['ODOO_LOG_DB'] or cfg['log_db'] | default('False', true) }}
log_db_level = {{ env['ODOO_LOG_DB_LEVEL'] or cfg['log_db_level'] | default('warning', true) }}
log_handler = {{ env['ODOO_LOG_HANDLER'] or cfg['log_handler'] | default(':INFO', true) }}
log_level = {{ env['ODOO_LOG_LEVEL'] or cfg['log_level'] | default('info', true) }}
logfile = {{ env['ODOO_LOGFILE'] or cfg['logfile'] | default('None', true) }}
logrotate = {{ env['ODOO_LOGROTATE'] or cfg['logrotate'] | default('False', true) }}
longpolling_port = {{ env['ODOO_LONGPOLLING_PORT'] or cfg['longpolling_port'] | default('8072', true) }}
max_cron_threads = {{ env['ODOO_MAX_CRON_THREADS'] or cfg['max_cron_threads'] | default('2', true) }}
osv_memory_age_limit = {{ env['ODOO_OSV_MEMORY_AGE_LIMIT'] or cfg['osv_memory_age_limit'] | default('1.0', true) }}
osv_memory_count_limit = {{ env['ODOO_OSV_MEMORY_COUNT_LIMIT'] or cfg['osv_memory_count_limit'] | default('False', true) }}
pg_path = {{ env['ODOO_PG_PATH'] or cfg['pg_path'] | default('None', true) }}
pidfile = {{ env['ODOO_PIDFILE'] or cfg['pidfile'] | default('None', true) }}
proxy_mode = {{ env['ODOO_PROXY_MODE'] or cfg['proxy_mode'] | default('False', true) }}
reportgz = {{ env['ODOO_REPORTGZ'] or cfg['reportgz'] | default('False', true) }}
server_wide_modules = {{ env['ODOO_SERVER_WIDE_MODULES'] or cfg['server_wide_modules'] | default('None', true) }}
smtp_password = {{ env['ODOO_SMTP_PASSWORD'] or cfg['smtp_password'] | default('False', true) }}
smtp_port = {{ env['ODOO_SMTP_PORT'] or cfg['smtp_port'] | default('25', true) }}
smtp_server = {{ env['ODOO_SMTP_SERVER'] or cfg['smtp_server'] | default('localhost', true) }}
smtp_ssl = {{ env['ODOO_SMTP_SSL'] or cfg['smtp_ssl'] | default('False', true) }}
smtp_user = {{ env['ODOO_SMTP_USER'] or cfg['smtp_user'] | default('False', true) }}
syslog = {{ env['ODOO_SYSLOG'] or cfg['syslog'] | default('False', true) }}
test_commit = {{ env['ODOO_TEST_COMMIT'] or cfg['test_commit'] | default('False', true) }}
test_enable = {{ env['ODOO_TEST_ENABLE'] or cfg['test_enable'] | default('False', true) }}
test_file = {{ env['ODOO_TEST_FILE'] or cfg['test_file'] | default('False', true) }}
test_report_directory = {{ env['ODOO_TEST_REPORT_DIRECTORY'] or cfg['test_report_directory'] | default('False', true) }}
translate_modules = ['all']
unaccent = {{ env['ODOO_UNACCENT'] or cfg['unaccent'] | default('False', true) }}
without_demo = {{ env['ODOO_WITHOUT_DEMO'] or cfg['without_demo'] | default('True', true) }}
workers = {{ env['ODOO_WORKERS'] or cfg['workers'] | default('0', true) }}
xmlrpc = {{ env['ODOO_XMLRPC'] or cfg['xmlrpc'] | default('True', true) }}
xmlrpc_interface = {{ env['ODOO_XMLRPC_INTERFACE'] or cfg['xmlrpc_interface'] | default('0.0.0.0', true) }}
xmlrpc_port = {{ env['ODOO_XMLRPC_PORT'] or cfg['xmlrpc_port'] | default('8069', true) }}
import_export_log_path = {{ env['ODOO_IMPORT_EXPORT_LOG_PATH'] or cfg['import_export_log_path'] | default('/var/lib/odoo/var/log', true) }}
importer_log_path = {{ env['ODOO_IMPORTER_LOG_PATH'] or cfg['importer_log_path'] | default('/var/lib/odoo/var/log', true) }}

# Session store
session_store_database = {{ env['ODOO_SESSION_STORE_DATABASE'] or cfg['session_store_database'] | default('', true) }}
session_store_redis = {{ env['ODOO_SESSION_STORE_REDIS'] or cfg['session_store_redis'] | default('', true) }}
session_store_dbname = {{ env['ODOO_SESSION_STORE_DBNAME'] or cfg['session_store_dbname'] | default('', true) }}
session_store_prefix = {{ env['ODOO_SESSION_STORE_PREFIX'] or cfg['session_store_prefix'] | default('', true) }}
session_store_host = {{ env['ODOO_SESSION_STORE_HOST'] or cfg['session_store_host'] | default('', true) }}
session_store_port = {{ env['ODOO_SESSION_STORE_PORT'] or cfg['session_store_port'] | default('', true) }}
session_store_dbindex = {{ env['ODOO_SESSION_STORE_DBINDEX'] or cfg['session_store_dbindex'] | default('', true) }}
session_store_pass = {{ env['ODOO_SESSION_STORE_PASS'] or cfg['session_store_pass'] | default('', true) }}

[base_rest]
dev_mode = {{ env['ODOO_REST_DEV_MODE'] or cfg['rest_dev_mode'] | default('True', true) }}